name: update-spec.yml
on:
  repository_dispatch:
    types: [upstream-release]
  workflow_dispatch:

jobs:
  update-spec:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout RPM repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
          fetch-depth: 0
      - name: Update spec file
        run: |
          TAG="${{ github.event.client_payload.release_tag }}"
          APPVER="${TAG#ttl-v}"
          echo "Upstream tag: $TAG | appver: $APPVER"
          sed -i "s/^%global appver[[:space:]]\+\S\+/%global appver  $APPVER/" twintaillauncher.spec
          sed -i "s|ttl-v%{appver}/twintaillauncher_%{appver}_amd64.deb|ttl-v$APPVER/twintaillauncher_$APPVER_amd64.deb|" twintaillauncher.spec
          cat >> twintaillauncher.spec << EOF
            * $(date +"%a %b %d %Y") TukanDev <contact@tukandev.com> - $APPVER-0
            - Update to upstream $TAG
            - For detailed release notes: ${{ github.event.client_payload.url }}
          EOF
      - name: Commit and push
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add twintaillauncher.spec
          git commit -m "chore(spec): bump to $APPVER (upstream $TAG)" ||
          git commit -m "chore(spec): update to latest upstream release"
          git push
